<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>tracker index</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/">tracker</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Hash</td>
          <td>Seeders</td>
          <td>Leechers</td>
          <td>Completed</td>
          <td>Created At</td>
        </tr>
      </thead>
      <tbody>
        {{range .Torrents}}
        <tr>
          <td><a href="/torrent/{{.ID}}">{{.ID}}</a></td>
          <td><a href="magnet:?xt=urn:btih:{{printf "%x" .InfoHash}}&tr={{ $.AnnounceURL }}">🧲 {{printf "%x" .InfoHash}}</a></td>
          <td>{{.Seeders}}</td>
          <td>{{.Leechers}}</td>
          <td>{{.Completed}}</td>
          <td>{{.CreatedAt}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
