<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>torrent details</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/">tracker</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Uploaded</td>
          <td>Downloaded</td>
          <td>Left</td>
          <td>Event</td>
          <td>Client</td>
          <td>Updated At</td>
        </tr>
      </thead>
      <tbody>
        {{range .Peers}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Uploaded}}</td>
          <td>{{.Downloaded}}</td>
          <td>{{.Left}}</td>
          <td>{{.Event}}</td>
          <td>{{.Client}}</td>
          <td>{{.UpdatedAt}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
